*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

%flex-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flags-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0;
    padding: 0;
    column-gap: 5px;
}

.flags{
    @extend %flex-format;
}