@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cookie&family=Courgette&family=Montserrat:wght@100&family=Nunito+Sans:wght@200&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Nunito Sans";
}
body {
  background-color: hsl(207, 26%, 17%);
}

.home {
  display: flex;
  flex-wrap: wrap;
}

.in-flex {
  flex: 1;
  min-width: 375px;
  max-width: 1440px;
}

.in-flex:first-child {
  flex: 2;
  padding: 25px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: hsl(226, 64%, 65%);
}

.in-flex div {
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(255, 250, 250);
}

.in-flex img {
  margin: 15px;
  max-width: 200px;
  columns: 3ch;
}
