<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/static/css/index.css" />
    <title>Resposive</title>
</head>

<body>
    <header>
        <div>
            <button>home</button>
        </div>
    </header>
    <section class="home">
        <div class="in-flex">
            <input type="text">
            <button>Filter By</button>
            <div>
                <img src="/design/chile.png" alt="chile">
                <img src="/design/mexico.png" alt="mexico">
                <img src="/design/chile.png" alt="chile">
                <img src="/design/mexico.png" alt="mexico">
                <img src="/design/chile.png" alt="chile">
                <img src="/design/mexico.png" alt="mexico">
            </div>
        </div>
    </section>

</body>

</html>