<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/static/css/index.css" />
    <title>Resposive</title>
</head>

<body>
    <header>
        <div>
            <a class="btn-home" href="/frontend/index.html">Home</a>
        </div>
    </header>
    <section class="home">
        <div class="in-flex">
            <input type="text">
            <label for="cars">Select Filter:</label>
            <select name="cars" id="cars">
                <option value="region">Region</option>
                <option value="name">Name</option>
            </select>
            <button>Filter</button>
            <div>
                <div class="flags">
                    <img src="/design/chile.png" alt="chile">
                    <h1>CHILE</h1>
                    <p>Population: 19,116,209</p>
                    <p>Region: South America</p>
                    <p>Capital: Santiago</p>
                </div>
                <div class="flags">
                    <img src="/design/mexico.png" alt="Mexico">
                    <h1>CHILE</h1>
                    <p>Population: 128,932,753</p>
                    <p>Region: North America</p>
                    <p>Capital: Mexico City</p>
                </div>
                <div class="flags">
                    <img src="/design/chile.png" alt="chile">
                    <h1>CHILE</h1>
                    <p>Population: 19,116,209</p>
                    <p>Region: South America</p>
                    <p>Capital: Santiago</p>
                </div>
                <div class="flags">
                    <img src="/design/mexico.png" alt="Mexico">
                    <h1>CHILE</h1>
                    <p>Population: 128,932,753</p>
                    <p>Region: North America</p>
                    <p>Capital: Mexico City</p>
                </div>
                <div class="flags">
                    <img src="/design/chile.png" alt="chile">
                    <h1>CHILE</h1>
                    <p>Population: 19,116,209</p>
                    <p>Region: South America</p>
                    <p>Capital: Santiago</p>
                </div>
                <div class="flags">
                    <img src="/design/mexico.png" alt="Mexico">
                    <h1>CHILE</h1>
                    <p>Population: 128,932,753</p>
                    <p>Region: North America</p>
                    <p>Capital: Mexico City</p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>